.ABeezee {
    font-family: 'ABeeZee';
}

.Aldrich {
    font-family: 'Aldrich';
}

.Arya {
    font-family: 'Arya';
}
.Audiowide {
    font-family: 'Audiowide';
}
.Baumans {
    font-family: 'Baumans';
}
.Bungee Hairline {
    font-family: 'Bungee Hairline';
}
.Days One {
    font-family: 'Days One';
}
.Economica {
    font-family: 'Economica';
}
.Electrolize {
    font-family: 'Electrolize';
}
.Exo {
    font-family: 'Exo';
}
.Goldman {
    font-family: 'Goldman';
}
.Julius Sans One {
    font-family: 'Julius Sans One';
}
.Khand {
    font-family: 'Khand';
}
.Krona One {
    font-family: 'Krona One';
}
.Major Mono Display {
    font-family: 'Major Mono Display';
}
.Megrim {
    font-family: 'Megrim';
}
.Offside {
    font-family: 'Offside';
}
.Orbitron {
    font-family: 'Orbitron';
}
.Poiret One {
    font-family: 'Poiret One';
}
.Rajdhani {
    font-family: 'Rajdhani';
}
.Righteous {
    font-family: 'Righteous';
}
.Ruluko {
    font-family: 'Ruluko';
}
.Sarpanch {
    font-family: 'Sarpanch';
}
.Syncopate {
    font-family: 'Syncopate';
}