.test-wrapper {
    width:100%;
    border:3px solid red;
    background:black;
    color:orange;
}

.text {
    padding:5vh 5vh 4vh 5vh;
    
}




.testall {
    background-image:url(../../assets/images/testsvg-all.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.test2-top {
    background-image:url(../../assets/images/testsvg-top.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height:90vh;
    
}


.test2-mid {
    background-image:url(../../assets/images/testsvg-mid.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.test2-bottom {
    background-image:url(../../assets/images/testsvg-bott.svg);
    background-repeat: no-repeat;
    background-size:100% 100%;

}

.panel-wrapper {
    position:relative;
    background:black;
}

.panel-text {
    position:absolute;
    top:5vh;
    left:5vh;
    margin-right:5vh;
    color:orange;
}

.panel-top, .panel-bottom {

}

.panel-mid {
height:80vh;
width:100%;
}