.test-wrapper {
    width:100%;
    border:3px solid red;
    background:black;
    color:orange;
}

.text {
    padding:5vh 5vh 4vh 5vh;
}




.testall {
    background-image:url(../../assets/images/testsvg-all.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.test2-top {
    background-image:url(../../assets/images/testsvg-top.svg);
    background-repeat: no-repeat;
    background-size:cover;
}

.test2-bottom {
    background:url(../../assets/images/testsvg-bott.svg);
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.test2-mid {
    background-image:url(../../assets/images/testsvg-mid.svg);

}

.panel-wrapper {
    position:relative;
    background:black;
    z-index:-10;
}


.panel-top {
    position:relative;
}

.panel-text {
    position:relative;
    top:calc(-100vw / 3.5);
    margin-bottom:calc(-100vw / 3.5);
    padding-left:10vw;
    width:90vw;
    text-align:center;
    color:orange;
}


.panel-mid {
    position:relative;
    top:calc(-100vw / 3.5);
    height: 40vh;
    z-index:-1;
    width:100%;
    margin-top:-25vw;
}   


.panel-bottom {
    position:relative;
    margin-top:-50vw;
}


