/*--------------------------Font Types------------------------------------------------------*/

             /*--'Ethnocentric' licence purchased for usage via fontspring.com--*/
@font-face {
    font-family: 'ethnocentric_rg';
    src: url('../fonts/ethnocentric_rg-webfont.woff2') format('woff2'),
         url('../fonts/ethnocentric_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

            /*--Digital & LED fonts available on free license for non-commercial use via dafont.com--*/
@font-face {
    src:url('../fonts/AdvancedDotDigital7-OpXA.ttf');
    font-family:'ticker';
    }

@font-face {
    src:url('../fonts/digital-7.ttf');
    font-family:'digital' ;
    }

            /*--'Baumans' (baseline font) and 'Orbitron' (LED style) both GoogleFonts also used and linked from html header--*/






/*----------------------------Global Root Variables---------------------------------------*/

:root {

                 /*---Font Variables---*/

  --standardfont:'Baumans', Arial, sans-serif;
  --titlefont: 'ethnocentric_rg', Arial, sans-serif;
  --LEDfont:'orbitron', Arial, sans-serif;              /*--LED 'screens'--*/
  --digitalfont: 'digital', Arial, sans-serif;         /*--digtal clock--*/
  --tickerfont:'ticker', Arial, sans-serif;             /*--news ticker'--*/

                
                /*---Font Sizing Variables-----(only defined for specific instances where need to override - as typically fonts-sizings matched by element type (i.e. H1) to the responsive fonts tabled below---*/

  --LEDsize1:clamp(12px, 16px, 20px);
  --LEDsize2:clamp(12px, 16px, 20px);

                /*---Font Color Variables---*/

  --ink0:rgb(0,0,0);          /*--black--*/
  --ink1:rgb(255,129,10);     /*--for title / highlight text--*/
  --ink2:rgb(219,132,29);     /*--for baseline text--*/
  --ink3:rgb(94,87,77);       /*--alternative-off black / grey--*/
  --ink4:rgb(104,87,66);      /*--off-grey w/ slight orange tone for gradient fill--*/  
  --ink5:rgb(130,120,98);      /*--alternative-light grey / orange tone--*/


                /*----Special Font Colors----*/

  --LED1:   rgba(0,217,255,1);      /*--LED screens , ticker and digital - hex value #00d9ff-------*/
  --glass1: rgba(0,196,255,0.9);    /*--svg glass edge  - hex value 00d9ff--*/
  --glass2: rgba(107,196,255,0.18); /*--svg glass fill w high transparency - hex value #6bc4dff--*/
  --glass3: rgba(0,0,0,0.3);      /*--black 50% transparency---*/
  /*--digital1: (not currently defined / required)--*/


                 /*---Background & Border Color Variables---*/

  --paint1: rgb(235,103,27); /*---vector orange - current - hex value #db841d--*/
  --paint2: rgb(179, 149, 113); /*--vector orange - switching to - hex value #db841d--*/
/*--paint3: (not currently defined / required)--*/

}




/*----------------------------Responsive Fonts -----------------------------------------*/

body, div, p {font-size:16px;font-family: var(--standardfont);color: var(--ink2);}
h1 {font-size:clamp(28px, 5vw, 44px);font-family: var(--titlefont);color: var(--ink1);}
h2 {font-size:clamp(16px, 3vw, 36px);font-family: var(--titlefont);color: var(--ink1);}
h3 {font-size:clamp(16px, 2vw, 28px);font-family: var(--titlefont);color: var(--ink2);}
h4 {font-size:clamp(16px, 20px, 24px);font-family: var(--standardfont);color: var(--ink2);font-weight:400;}
h5 {font-size:clamp(15px, 18px, 20px);font-family: var(--standardfont);color: var(--ink2);}
.LEDh2 {font-size:clamp(16px, 3vw, 36px);font-family: var(--titlefont);color: var(--LED1);}
.LEDh4 {font-size:clamp(16px, 20px, 24px);font-family: var(--LEDfont);color: var(--LED1);}
.LEDstnd {font-size:clamp(14px, 1.2vw, 18px);font-family: var(--LEDfont);color: var(--LED1);}



/*-------------------------General Settings-------------------------------------------*/

/*----no single command seemed to eliminate unneccessary auto-padding & margins. 
Currently achieved through use of the global settings below across element types inaddition to Bootstrap classes (mb-0 & row no-gutters) - 
to be reviewed prior to launch and remove any redundant ----*/

.container {
    padding:0;
    margin-right:0;
    margin-left:0;
    }

.container-fluid {
    padding:0;
    margin-left:0;
    margin-right:0;
    }

.dropdown-item {
    padding-left:0;
    padding-right:0;
}

.row {
    margin-right:0;
    margin-left:0;
}


/*-------------------------Logo----------------------------------------------------*/

.logo {
    color: var(--ink1);
    text-shadow:2px 2px 2px var(--ink0);
    }

.icon-planet {
    color:var(--ink1);
    filter: drop-shadow(5px 5px 2px var(--ink0)); /*---intentional increase to planet icon shadow (compared to other text shadowing) to enhance visual effect-----*/
    }





/*-------------------------Navigation Bar-----------------------------------*/

.navbar {
    background-image: linear-gradient(to bottom left, var(--ink0),var(--ink4));
    border-bottom: 8px solid var(--glass1);
    
    }

     /*--- remove auto margin & padding to enable top / bottom alignment of text and menu icons--*/


.logo {
    margin-bottom:0;
    }

/*-----Currently disabled - choice of nav menu

    /*-----Basic menu for small screens / portrait only. Media query prevents small menu toggler seen on larger devices--*/

/*-----@media (min-width:768px) and (orientation:landscape)

{   
    #dropdownMenuButton-sm, navbar-toggler, i.fa-bars {
    display:none;
    }

    /*--BUG - FIXED - situation where tablet could open small menu in portrait but then switch to landscape, and menu would remain visible but with no css styling. Addition below ensures not seen--*/

 /*-----   #nav-drop-menu-small {
        display:none;
    }
}
-*/
    /*------Second media query to prevent screens loading code for functionality not visible. Note: 'AND' operator on 1st query vs list on 2nd query (acts as 'OR' operator) as mobile devices could be either----*/

/*-----@media (max-width:768px), (orientation:portrait)

{---*/

.navbar-toggler {
    color: var(--ink1);
    margin-right:5vw;
    padding:0;                        /*-- to align toggler with logo sizing--------*/
    font-size:clamp(28px, 5vw, 44px); /*-- align relative sizing with logo text--*/
    }
   

#nav-drop-menu-small {
    background-image: linear-gradient(to bottom left, var(--ink0),var(--ink4));    
    border:8px solid var(--ink1); 
    text-align: center;
    width:90vw;
    max-width:500px;
}

.drop-header {
    background-color: var(--ink2);
    color: var(--ink0);     /*--font color override required--*/
    z-index: 1050;
}

.nav-panel-small {
    background-image:url(../images/final-images/glass-navmenu-small.svg);
    background-size:cover;
    background-repeat:no-repeat;
    width:85%;
    margin-left:auto;
    margin-right:auto;
}  

.dropdown-item {
    text-align:center;
}

/*---psuedo elements override Bootstrap default settings for links and retain coloring consitent with site---*/

.navbar .logo:link,
.navbar .logo:visited,
.navbar .logo:hover,
.navbar .logo:focus,
.navbar .logo:active {
    text-decoration: none;
} 

.nav-panel-small:link .dropdown-item, 
.nav-panel-small:visited .dropdown-item {
    text-decoration: none;
} 

.nav-panel-small:hover .dropdown-item,
.nav-panel-small:focus .dropdown-item,
.nav-panel-small:active .dropdown-item{
    text-decoration: none;
    background-image: linear-gradient(to bottom left, var(--ink1),var(--ink5));
} 

/*--BUG - FIXED - pseudo states were not being applied corectly. This was due to there being three element layers (the panel, the anchor and the H3 text. Styles were either not being cascaded or apply differently as the cursor moved across the 3 elements. Was unable to configure single code so split out for each of the three layers--*/

.nav-panel-small:hover h3,
.nav-panel-small:focus h3,
.nav-panel-small:active h3{
    background-image: linear-gradient(to bottom left, var(--ink1),var(--ink5));
    color:var(--ink0);
} 

.dropdown-item:hover h3 {
        color:var(--ink0);
} 

/*-   }   --- unhide closing media bracket when re-instating


-- End small menu styling / media query ---*/



/*---!!!!!!!!!!!ADD LARGE SCREEN CONTENT HERE!!!!!!!!!!!!!!!---*/


/*-----media query to display larger panel and additional content for bigger screens -----*/






/*-------------------------Footer-----------------*/

.footer-main {
    background-image: linear-gradient(to bottom right, var(--ink0),var(--ink4));
    display:inline-block;
    text-align:center;
    border-top:8px solid var(--glass1);
    padding-top:5px;
    padding-bottom:5px;
    }


.footer-main a {
    color:var(--ink1);
    font-size:clamp(28px, 5vw, 44px); /*--icon sizing consitent with nav icon--*/
    text-decoration:none;
    text-shadow:2px 2px 2px var(--ink0);
    height: clamp(32px, 5vw, 48px);
    
    }


/*-------------------------HOME PAGE----------------------------------------*/
#home-content {         /*--!!!!final action to adjust to enusre no vertical page scrolling on med+ screens)--*/
  
}


                        /*-------fluid container ensures 100% screen width with responsive margin-top (aligned to header sizing) to avoid being hidden under fixed header-----------------*/



#home-container-A {
    width:100vw;
    
}


                /*------------Home Page - Container A Welcome-----------------*/

.welcome {
    position:relative;
    }



.welcome-hero-img {
    height: 30vw;
    max-height:300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    animation-name:imgfadein;
    animation-delay:1.5s;
    animation-fill-mode: both;
    animation-duration:10s;
    animation-timing-function: linear;
    border-bottom: 5px solid var(--glass1);
}

/*-----CHALLENGE ENCOUNTERED--------------
Original image re-sized to enable media queries to determine most appropriate size (all have same aspect ratio). 
Issue 1 - failed as unable to embed media query in html mark-up (<picture> and <object-fit> not returning rquired behaviour). 
Outcome - Linger term action: follow-up post milestone project; short term - alternative sought.

Issue 2 - retained media queries in CSS to be displayed as background image, but difficulties getting the image to display. 
Cause -  div treated as 'empty' by browsers - requires a fixed height (100% not viable as 100% of nothing!)
Outcome - used VW as variable (with overall max)- feel to be acceptable (responsive sizing / no 'white space') but recognise not desired approach.
--------------------------------------*/

/*----image source XXXXXXXX -----*/
@media (max-width:540px) {
.welcome-hero-img {
    background-image:url('../images/final-images/planet_earth-sm.jpeg'); /*---(s 540 x 193px)--*/
    min-height:110px;
}
}    

@media (min-width:541px) and (max-width:768px) {
.welcome-hero-img {
    background-image:url('../images/final-images/planet_earth-md.jpeg'); /*---(m 768 x 275px)--*/
    }
}   

@media (min-width:769px) and (max-width:992px){
.welcome-hero-img {
    background-image:url('../images/final-images/planet_earth-lg.jpeg'); /*---(lg 992 x 355px)--*/
    }
}   

/*--image will appear to zoom in above c.1400px, position changed to 20%off-top to adjust focus--*/ 
@media (min-width:993px) {
.welcome-hero-img {
    background-image:url('../images/final-images/planet_earth-xl.jpeg'); /*---xl 1140 x 408px--*/
    background-position: 0% 20%;
}
}   
   


.welcome-strapline {
    
    text-shadow:2px 2px 2px var(--ink0);
    position:absolute;
    height:30vh;
    top:3vw;
    right:2vw;
    max-width:50vw;
    animation-name:txtfadein;
    animation-delay:2s;
    animation-fill-mode: both;
    animation-duration:6s;
    animation-timing-function: ease;  
    } 

    

                /*-------welcome animtaion------- 
                Desired effect - break of new dawn
                Acknowledgement: CCStricks.com animation article and demos-----*/

@keyframes imgfadein {
    0%      {filter: brightness(0) blur(10px);}
    10%     {filter: brightness(0.15) blur(5px);}
    20%     {filter: brightness(0.3) blur(2px);}
    30%     {filter: brightness(0.45) blur(1px);}
    40%     {filter: brightness(0.6) blur(0px);}
    50%     {filter: brightness(0.75) blur(0px);}
    60%     {filter: brightness(1.0) blur(0);}
    86%     {filter: brightness(1.25) blur(0);}
    88%     {filter: brightness(1.5) blur(0);}
    89%     {filter: brightness(1.4) blur(0);}
    90%     {filter: brightness(1.4) blur(0);}
    95%     {filter: brightness(1.2) blur(0);}
    100%    {filter: brightness(1.0) blur(0);}
    }   


@keyframes txtfadein {
    0% {visibility: hidden; opacity: 0%;}
    50% {visibility: hidden; opacity:1%;}
    100% {visibility: visible; opacity:100%;}
    }
                
  
  
                /*--------------Home Page - Container B HUD & Ticker -----------------*/

#home-container-B {
    width:100vw;

    background:url(../images/final-images/tiled-hex_black.svg); /*----image source XXXXXXXX -----*/
    background-size: cover;
    background-attachment: fixed;
    padding-bottom:2vh;
    }


.HUD { 
    padding-top:1vh;
    }

.HUD-center {
    width:100%;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    }

.HUD-text {
    position:absolute;
    margin:0 auto;
    left:0;
    right:0;
    top:20%;
    text-align:center;
    width:100%;
    text-shadow:2px 2px 2px var(--ink0);
    }

/*--Media queries-HUD-remove graphics from small screens - also reduce text-size and add padding to prevent overflow with ticker--*/ 
    @media (max-width:767px) {

    #HUD-img, .HUD-right, .HUD-left {
    display:none;
    }

    .HUD-text {
    top:0;
    }

    
    .HUD-text.logo, .HUD-text .specialtype {
    margin-left:0;
    margin-right:0;
    font-size:14px  
    }


    .HUD-center {
    padding-bottom:10vh;
    }
    } 

/*--END HUD Media Queries--*/ 

#HUD-img {
    max-height: 200px;
    }

.HUD-left {
    text-align:left;
    margin-left:3vw;
    }

.HUD-right {
    text-align:right;
    margin-right:3vw;
    }


                /*------------Home Page - Intro / Ticker---------*/


/*---guidance from https://code-boxx.com/html-css-news-ticker-horizontal-vertical/ ----*/

.intro-ticker{
    margin-top:15vh;
    margin-bottom:2vh;
    overflow: hidden; 
    border-style:inset;
    margin:2vh 3vw 0 3vw;
    line-height:2rem;
    }


.intro-ticker-news {
 
    width: 100%;
    padding-left: 100%; 
    background-color: var(--ink0);
    background-size:100% 100%;
    font-size:70%;
    }

.intro-ticker-animate {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: animate;
    animation-duration: 120s;
    }



.intro-news-item {
    font-family:var(--tickerfont);
    font-size: 90%;
    color: var(--LED1);
    display: inline-block; 
    padding-top: 0.5rem;
    }


.intro-news-item.breaking-news {
    color: var(--ink0);
    background-color: var(--LED1);
    }   


@keyframes animate {
     0%  {transform: translateX(0%);}
    100%  {transform: translateX(-102%);}
    }

/*--Media queries-Ticker-further reduce ticker to fill space by hidden HUD graphic--*/ 
@media (max-width:767px) {

    .intro-ticker {
    line-height:26px;
    }
    }
  
/*----------Home Page -  Control Panel-----------------*/

/*----Note on SVGs: 

Inspiration from combination of Sci-Fi films / tv, PC games and search on Sci Fi / Concept User Interfaces ovia Pinterest. Specific sites considered;
https://sciencefictioninterfaces.tumblr.com/
https://www.saji8k.com/kit-fui/movie/

Background images were self-created in Adobe Illustrator and exported as SVGs.
Opted to incorporate as seperate SVG files (opposed to inline HTML) to keep code cleaner. ---*/

.home-main-control-panel {
    margin-top:2vw;
    margin-bottom:1vw;
    }




/*----------------Home: Main Panel - Left Column -----------------*/


.home-main-lower-left-pane {
    border-left:10px solid var(--glass2);
    border-bottom:10px solid var(--glass2);  
    border-top:10px solid var(--glass1);
    border-right:10px solid var(--glass1);            
    margin-left:3vw;
    background-color:var(--glass2);
    }


#Info-Screen-Selector {
    padding-top:1.5vw;
    text-align:center;
    font-family:var(--LEDfont);
    }

#Info-Screen-Selector h5 {
    font-family:var(--LEDfont);
    }

.nav-item {
    margin:auto;
    width:80%;
    box-shadow: none;
    }

.nav-item a {
    font-family:var(--LEDfont);
    color: var(--LED1);    
    background-color:var(--glass2);
    border:2px solid var(--glass1);
    margin:5px;
    text-shadow:2px 2px 2px var(--glass2);
    }


/*--Challenge - can not remove the default Bootstrap styling once a button has been activated----*/

.nav-item:link a,
.nav-item:visited a,
.nav-item:hover a,
.nav-item:focus a,
.nav-item:active a {
    background-color: var(--LED1);
    color: var(--ink1);
    box-shadow: 20px 20px 100px 30px var(--glass1);
}

.nav-item:active {
    box-shadow: 20px 20px 100px 30px var(--glass1);
}



/*----------------Home: Main Panel - Center Column -----------------*/

/*--Media query - hide center pane from small screens --*/

@media (max-width:767px) {
.home-main-lower-center-pane {
display:none;}
}

/*--end media query--*/


.home-main-lower-center-pane {
    margin-left:20px;
    border-left:10px solid var(--glass2);
    border-bottom:10px solid var(--glass2);  
    border-top:10px solid var(--glass1);
    border-right:10px solid var(--glass1);
    }







/*----------------Home: Main Panel - Right Column -----------------*/



#home-main-lower-right-pane {
    border-left:10px solid var(--glass2);
    border-bottom:10px solid var(--glass2);  
    border-top:10px solid var(--glass1);
    border-right:10px solid var(--glass1);            
    margin-left:15px;
    background-color:var(--glass2);
    padding-top:1.5vw;
    padding-left:5vw;
    padding-right:5vw;
    }


.LEDh2 {
    text-shadow:20px 20px 20px 20px #00d9ff;
}

 /*-----Home Page - Countdown Timer ------*/
 /*---- A true countdown timer requires understanding of JS, so for the purpose of representing what this 'could' look like I created a mock version which only counts down from a static starting point, only adjusts the minutes and seconds and resets on page load and navigating away / to the hosting nav panel.
 Acknowledgement: Initially attempted an approach based on purely animation (i.e. show / hide), but could not overcome challenges with vertical alignment & hiding the overflow of the digits when not dslayed. A similar example was found on YouTube [https://www.youtube.com/watch?v=rhZgquCAcGc] which this code is now based on although adapted to; fit in a table (to retain alignmet of time with labels) and splittng code to acount for hr / min count-down from 59-0, and digits from 10-0.   
  ---*/
 

#countdown-info {
    font-family: var(--LEDfont);
    color:var(--LED1); 
    margin-bottom: 2vh;
    } 

/*-----relates to layout of text wich appears prior to the timer----*/



#countdown-info .info-label {

    text-align:right;
    padding-right:2vw;
    }

#countdown-info .info-answer {
    font-family: var(--LEDfont);
    color:var(--LED1);
    text-align:left;
    padding-left:2vw;
    }

#countdown-info .passengers {
    padding-top:2vh;
     vertical-align:text-top;
    }

 /*-----styling for the countdown timer ----*/ 

 .table-countdown {
    border: 1px solid var(--glass1);
    width:80%;
    margin-left:5vw;
    }

.table-countdown-labels {
    border: 1px solid var(--glass1);
    background-color:var(--glass2);
    text-shadow:none;
    }


.table-countdown-wrapper {
    background-color: var(--glass3);
    transform:translate (-50%, -50%);
    font-family:var(--digitalfont);
    height:5vh;
    line-height:5vh;
    font-weight:bold;
    font-size: 4vh;
    }


.table-wrapper {
    transform:translate (-50%, -50%);
    vertical-align: top;
    position:relative;
    overflow:hidden;
    }   

.mins-wrap {
    vertical-align: top;
    padding-top:10px;
    }


.countdown-labels {
    display:inline-block;
    font-family: var(--LEDfont);
    width:100%;
    vertical-align: top;
    border: 1px solid var(--glass1);
    padding:0 0.5vh;
    margin-left:auto;
    margin-right:auto;
    }


.time {
    display:inline-block;
    overflow:hidden;
    padding:0 0.5vh;
    }
    

.digit:after {
    position:absolute;
    white-space: pre;
    content: "9\A 8\A 7\A 6\A 5\A 4\A 3\A 2\A 1\A 0\A";
    }


.tens:after {
    position:absolute;
    white-space: pre;
    content: "5\A 4\A 3\A 2\A 1\A 0\A";
    }

/*--countdown animation works by steping through the numbers defined in the 'content' above with the step count and %'s aligned to the correct timing (i.e 1 second / min ('digit') & 10 seconds/minutes ('tens'). Numbers effectively scroll on screen but 'overflow:hidden' only allows 1 number (per field) to be shown  --*/

.seconds.digit:after {
    animation: animate-secs-digit 10s steps(10) infinite;
    }

@keyframes animate-secs-digit {
    0% {top:0;}
    100% {top:-50vh} /*--- ** Adjusted from -50vh as slight mis-alignment for last few seconds, to be checked in other responsive screen sizes if needed ----*/
    }

.seconds.tens:after {
    animation: animate-secs-tens 60s steps(6) infinite;
    }

@keyframes animate-secs-tens {
    0% {top:0;}
    100% {top:-30vh}
    }



.mins.digit:after {
    animation: animate-mins-digit 600s steps(10) infinite;
    }

@keyframes animate-mins-digit {
    0% {top:0;}
    100% {top:-50vh}
    }

.mins.tens:after {
    animation: animate-mins-tens 3600s steps(6) infinite;
    }

@keyframes animate-mins-tens {
    0% {top:0;}
    100% {top:-30vh}
    }


     











/*-------------------------Exploration PAGE-----------------*/







            /*-----------Exploration - Section B Trips-----------------

#exploration-container-B {
    background-color:var(--ink0)
}

.exploration-item {
    background-color:#24242480;
    display:block;
    margin:0 auto;
    margin-top:15vh;
    padding-top:5vw;
    width:80vw;
    }

#exploration h2 {
    font-family:'ethnocentric_rg',  Arial, Helvetica, sans-serif;
    }


                        /-----------Exploration - Trips: Earth ORBIT-------




    /*-------------------------Gallery / Viewing Port-----------------*/


.viewingport-main {
    padding-top:10vh;
    background-color:black;
}



.carousel-item img {
    padding-bottom:5vw;
    max-width:25vw;
    height:100%;
    margin-left:auto;
    Margin-right:auto;
    background-color:black;
}

/*-------------------------Registration-----------------*/

/*!!!!!---current bug - mobile view scrolls despite no further content - linked to fixed header and footer? or negactive panel margins?)!!!!!!-------*/


#register-container {
    background-image:url(../images/hex_black_bg_sm.png);
    position:center;
    background-repeat:repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top:10vh;
    margin-bottom:calc(-100vw / 3.5);
    height:95vh;
}


#register-wrapper {
    padding:1px;  /*Bug fix horizontal margin collapse between parent and child - fix sourced from https://www.smashingmagazine.com/2019/07/margins-in-css/--------*/
}


/*----- class names re-used from accordion to apply header and content background images, IDs added to specify sizing adjustments & styling-----*/

#register-header {
    margin-top:4vh;   
    font-weight:700;
    line-height:6vh;
}


.UI-detail-panel-wrap {
    margin-top:2vh;
    position:relative;
}

.UI-detail-panel-top {
    position:relative;
    margin-bottom:calc(-100vw / 3.5);
}

.UI-detail-panel-text {
    position:relative;
    margin-bottom:calc(-100vw / 3.5);
    padding-left:10vw;
    width:90vw;
    text-align:center;
    color:orange;
    z-index:100;
}


.UI-detail-panel-mid {
    position:relative;
    vertical-align: top;
    width:100%;
}   

.UI-size1 {
    height: 20vh;
    margin-top:-1vh;
}   


.UI-size2 {
    height: 40vh;
    margin-top:-25vw;
}


.UI-detail-panel-bottom {
    position:relative;
    vertical-align: top;
}


.membership-table {
    background-color:grey;
}

@media screen and (max-width: 600px) {
  .membership-table {
    display: none;
  }
}

#register-tiers {
    font-weight:800;
    margin-top:4vh;
    border:solid 5px rgba(255,129,10,1);
}


.modal-content {
    text-align:left;
    background-color:black;
}

.modal-header {
    text-align:center;
    text-shadow:0px 0px 1px rgb(245, 145, 87);
}

.modal-header .btn-close {
    background-color: rgba(255,129,10,0.6);
    border-left:solid 2px rgb(245, 145, 87);
    border-top:solid 2px rgb(245, 145, 87);
}

.form-radio-membership, .form-radio-trip {
    border-style:inset;
    align-content:left;
    padding:1vh;

}
.text-input {
    color:RGBA(255,129,10,0.8);
    text-shadow:0px 0px 1px rgb(245, 145, 87);
}

.text-input:hover {
    border-color: rgba(255,129,10,1); 
    border-width:0.5vh;
}

.form-help {
    text-shadow:0px 0px 1px rgb(245, 145, 87);
    text-align:center;
    
}

/*---Form Buttons---*/

/*--Acknowledgement - button gradient, shadow & hover effects 
sourced from Mozilla (https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button)---*/

.btn-register {
    margin-top:3vh;
    background-image: 
        linear-gradient(to top left,
                        rgba(0, 0, 0, .2),
                        rgba(0, 0, 0, .2) 30%,
                        rgba(0, 0, 0, 0));
    
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.btn-register:hover {
    background-color: rgb(245, 145, 87);
}

.btn-register:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#btn-open-form {
    position:center; 
    background-color: rgba(255,129,10,1);
    color:black;
}

#btn-submit-form {
    background-color: rgba(255,129,10,1);
    color:black;
}

#btn-canx-form {
    color:rgba(99, 76, 49, 1);
    background-color:rgba(178, 142, 98, 1);
}
/*-------------------------404 Page-----------------*/

.A404-image {
   background-image:url(../images/a404_error.png);
   background-repeat:no-repeat;
   background-size: cover;
   background-position: center center;
   position:relative;
   background-attachment: fixed;
   height:100vh;
}

.A404-text {
    text-align:center;
    text-shadow:1px 1px 2px darkgray;
}

.A404-text.txt1{
    padding-top:7vh;
    animation-name:redirect-txt1;
    animation-delay:0.5s;
    animation-fill-mode: both;
    animation-duration:3s;
    animation-timing-function: ease;  
    }


@keyframes redirect-txt1 {
0% {visibility: hidden;}
10% {visibility: visible;}
100% {visibility: hidden;}
}


.A404-text.txt2{
    animation-name:redirect-txt2;
    animation-delay:4s;
    animation-fill-mode: both;
    animation-duration:2s;
    animation-timing-function: ease;  
    }


@keyframes redirect-txt2 {
0% {visibility: hidden;}
10% {visibility: visible;}
100% {visibility: hidden;}
}


.light {
    border-style: solid transparent;
    background-color: white;
    width:15%;
    height:15%;
    border-radius:50%;
    position:absolute;
    top:13%;
    left:25%;
    animation-name:light;
    animation-delay:6s;
    animation-fill-mode: both;
    animation-duration:0.3s;
    animation-timing-function: linear;  
    }  
    



@keyframes light {
  0% {
    transform: scale(0);
    background-color: orange;
    opacity:0;
    border-radius: 100%;
  }

  100% {
    transform: scale(15);
    opacity:1;
    background-color: white;
  }
}



    /*----

    -----*/
