/*-------------------------Fonts-----------------*/
/*-licence purchased for ethnocentric via fontspring.com*/
/*-Digital font available on free usage for non-commercial use via .com*/

@font-face {
    font-family: 'ethnocentric_rg';
    src:url('../fonts/ethnocentric_rg-webfont.woff');
    }

@font-face {
    src:url('../assets/fonts/AdvancedDotDigital7-OpXA.ttf');
    font-family:'digital';
    }

@font-face {
    src:url('../assets/fonts/digital-7.ttf');
    font-family:'LED';
    }

/*-------------------------General Settings-----------------*/

/*----no single command seemed to eliminate unneccessary auto-padding & margins. 
Currently achieved through use of the global settings below across element types inaddition to Bootstrap classes (mb-0 & row no-gutters) - 
to be reviewed prior to launch and remove any redundant ----*/


* {
    margin:0;
    padding:0;
    }



.container {
    margin:0;
    padding:0;
    }

.container-fluid {
    margin:0;
    padding:0;
    }

.row {
    margin:0;
    padding:0;
    }


p {
    margin-bottom:0;   
    }

html, body {
    height:100%;
    font-family: 'Baumans',  Arial, Helvetica, sans-serif;
    /*--font-size: clamp(16px, 2vw, 36px);----*/
    color: RGBA(255,129,10,0.8);
    text-align: center;
    background-color:transparent;
    }

h3 {
    font-family:'ethnocentric_rg',  Arial, Helvetica, sans-serif;
    color: RGBA(255,129,10,0.8);
    }

.card-body {
    padding:0;
}

/*-------------------------Navbar----------------*/

.navbar {

   background-image: linear-gradient(to bottom left, black, #242424);
   border-bottom: 5px solid RGBA(255,129,10,0.8);
   font-family:'ethnocentric_rg',  Arial, Helvetica, sans-serif;
   color: RGBA(255,129,10,0.9);
   height: 10vh;
    }


.navbar-logo, .navbar-toggler {
    color: rgba(255,129,10,0.9);
    font-size: 5vh;
    text-shadow:2px 2px 2px black;
    }


    /*---intentional increase to planet icon shadow (compared to other text shadowing) to enhance visual effect-----*/

.icon-planet {
    filter: drop-shadow(5px 5px 2px black);
    }


.navbar a:link,
.navbar a:visited, 
.navbar a:hover,
.navbar a:active {
    text-decoration: none;
    color: rgba(255,129,10,0.9);
    cursor: auto;
    }


         
.dropdown-menu {
    background-color:#242424;
    height:81vh;
    width:60vw;
    font-size: 2vh;
    max-width: 450px;
    line-height:9vh;
    border:5px solid RGBA(255,129,10,1);
    padding-top:0;
    text-align: center;
    overflow:hidden;
    overflow-y: scroll;
    z-index:1;
    
    }
   

.dropdown-header {
    background-color: RGBA(255,129,10,0.8);
    color: #242424;
    font-weight: 600;
    padding:1vh;
    line-height:5vh;
    }


/*---Nav Menu Panels ----------------*/

.menu-panel {
    background-image:url();  /*---new image to be added---*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position:50%;
    text-shadow:2px 2px 2px black;
    margin-top:1.5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    }


.dropdown-item {
   color: RGBA(255,129,10,0.8);
   font-size:1.5vh;
   }


.menu-panel a:hover {
    background-color:transparent;
    color:#242424;
 /*--  !!!!! add alt menu panel color here  --*/
    }


    /*--
.dropdown-item:hover {
    background: RGBA(255,129,10,1);
    color:#242424;
        }
--*/

/*-- clip-paths - commented out as not satisfied with result, switched out for simple SVG image 

.clip-box-one-outer {
    clip-path:polygon(1% 6%, 6% 1%, 54% 1%, 60% 4%, 92% 4%, 95% 10%, 95% 10%, 95% 10%, 95% 10%, 95% 38%, 94% 42%, 94% 50%, 95% 50%, 95% 60%, 95% 90%, 91% 99%, 53% 99%, 50% 95%, 40% 95%, 40% 99%, 11% 99%, 2% 90%, 2% 40%, 1% 36%, 1% 20%, 1% 6%);   
    background-color: RGBA(255,129,10,0.8);
    }

.clip-box-one-inner {
    clip-path:polygon(2% 7%, 7% 2%, 54% 2%, 60% 5%, 67% 5%, 91% 5%, 94% 10%, 94% 38%, 92% 38%, 92% 15%, 91% 20%, 91% 39%, 93% 39%, 93% 52%, 94% 52%, 94% 90%, 91% 97%, 85% 97%, 53% 97%, 50% 93%, 39% 93%, 39% 98%, 11% 98%, 11% 96%, 38% 96%, 38% 95%, 9% 95%, 6% 92%, 50% 92%, 50% 91%, 5% 91%, 3% 90%, 3% 40%, 2% 36%, 2% 8%, 5% 8%, 5% 34%, 5% 7%, 2% 7%); 
    background-color:#242424;
    }
--*/


/*-------------------------Footer-----------------*/

.footer-main {
    background-image: linear-gradient(to bottom right, black, #242424);
    font-size: clamp(30px, 8vw, 60px);
    color: RGBA(255,129,10,0.8);
    height: 9vh;
    display:inline-block;
    text-align:center;
    border-top:10px solid;
    border-color: RGBA(255,129,10,0.8);
    }


.footer-main a {
    color:inherit;
    text-decoration:none;
    }


/*-------------------------HOME PAGE-----------------*/

/*-------------------------Home Page - Welcome-----------------*/

.welcome-container {
    margin-top:10vh; 
    position:relative; 
}

.welcome {
    height:30vh;
    border-bottom: 5px solid RGBA(255,129,10,1);
    }

.welcome-planet-img {
    background:url(../images/planet_earth-xs.jpg); /*----image source XXXXXXXX -----*/
    background-size: cover;
    background-position: 30%;
    background-repeat: no-repeat;
    animation-name:imgfadein;
    animation-delay:1.5s;
    animation-fill-mode: both;
    animation-duration:10s;
    animation-timing-function: linear;  
    } 

.welcome-strapline {
    font-family:'ethnocentric_rg', Arial, Helvetica, sans-serif;
    color:RGBA(255,129,10,1);
    text-shadow:2px 2px 2px black;
    position:absolute;
    top:0;
    right:0;
    max-width:50vw;
    padding-top: 3vw;
    padding-right:2vw;
    animation-name:txtfadein;
    animation-delay:2s;
    animation-fill-mode: both;
    animation-duration:6s;
    animation-timing-function: ease;  
    }

/*-------welcome animtaion------- 
Desired effect - break of new dawn
Acknowledgement: CCStricks.com article and demos-----*/

@keyframes imgfadein {
    0%      {filter: brightness(0) blur(10px);}
    10%     {filter: brightness(0.15) blur(5px);}
    20%     {filter: brightness(0.3) blur(2px);}
    30%     {filter: brightness(0.45) blur(1px);}
    40%     {filter: brightness(0.6) blur(0px);}
    50%     {filter: brightness(0.75) blur(0px);}
    60%     {filter: brightness(1.0) blur(0);}
    86%     {filter: brightness(1.25) blur(0);}
    88%     {filter: brightness(1.5) blur(0);}
    89%     {filter: brightness(1.4) blur(0);}
    90%     {filter: brightness(1.4) blur(0);}
    95%     {filter: brightness(1.2) blur(0);}
    100%    {filter: brightness(1.0) blur(0);}
    }   


@keyframes txtfadein {
  0% {visibility: hidden; opacity: 0%;}
  50% {visibility: hidden; opacity:1%;}
  100% {visibility: visible; opacity:100%;}
  }

/*-------------------------Home Page - Intro-----------------*/

  #intro-box {
    padding:3vh 1vh;
    border-bottom:5px solid;
    border-color: RGBA(255,129,10,0.8);
    display:inline;
    flex-wrap: wrap;
    position: relative;
    background-color:none;
    background:url(../images/tiled-hex_black.svg); /*----image source XXXXXXXX -----*/
    background-size: cover;
    }


.intro-text {
    text-shadow:2px 2px 2px black;
    }


.intro-text p {
    font-size:1.25rem;
    }


  /*-------------------------Home Page - Intro / Ticker---------*/

/*---guidance from https://code-boxx.com/html-css-news-ticker-horizontal-vertical/ ----*/

.intro-ticker{
  overflow: hidden; 
  border-style:inset;
  margin:2vh 3vh 0 3vh;
  line-height:1rem;
}


.intro-ticker-news {
  width: 100%;
  padding-left: 100%; 
  background-color: black;
  color:RGBA(0,217,255,1);
  background-size:100% 100%;
  font-family:'digital', Arial, Helvetica, sans-serif;
  font-size:70%;
}

.intro-ticker-animate {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: animate;
  animation-duration: 120s;
}


.intro-news-item {
  display: inline-block; 
  padding-top: 0.5rem;
  }


.intro-news-item.breaking-news {
color: black;
background-color:RGBA(0,217,255,1);
}


@keyframes animate {
     0%  {transform: translateX(0%);}
    100%  {transform: translateX(-102%);}
    }

/*-------------------------Home Page main - background-----------------*/


#main-window-image {

    background-color:#040419;
    background-size:cover;
    border-top:none;
    background-attachment: fixed;
}


/*-------------------------Home Page main - accordion-----------------*/

#home-accordion {
    padding-bottom:10vh;
    width:100vw;
    margin-top:0%;
    }

#home-accordion button {
    padding-left:5vw;
    line-height: 6vh;
    }


.card {
    background-color:transparent;
    margin-bottom: 1vh;
    }

/*----Note on SVGs: 

Inspiration from combination of Sci-Fi films / tv, PC games and search on Sci Fi / Concept User Interfaces ovia Pinterest. Specific sites considered;
https://sciencefictioninterfaces.tumblr.com/
https://www.saji8k.com/kit-fui/movie/

Background images were self-created in Adobe Illustrator and exported as SVGs.
Opted to incorporate as seperate SVG files (opposed to inline HTML) to keep code cleaner. 

Unsuccesful Approaches; 
Initial intenton was to use a single SVG and scale for each accordion, but due to different size of accordion text and portrait (mobile) vs. landscape (larger screens) resulted in;
- 'background image' - fixed dimension ratios resulted in images too small / large for the child div text
-  SVG 'preserveAspectRatio:none' - enabled scaling to fit accordion card but stretched / squashed too much to use
- 'border-image' - method splits image into 9 sections assigned to top,middle,bottom (vert) and left, center, right (horiz), still affected dimensions and variety in text sizes would  require individual slicing co-ordinates.
- 'vector-effect:non-scaling-stroke'; - improved but did not satisfy the final result (in conjunction with border-image some aspects e.g. corner to side joins) were not aligning consistently, and whilst line-width was retained, the use of some shapes and fills were still mis-aligned / distorted.

Approach taken:
Resorted to producing different sized images (small, medium, large) in both portrait and landscape. The most appropriate fit was then targetted to the individual accordion.
This also meant different styles / images could have been used if more time available.

SVGs were put through 3rd party tool (https://codepen.io/designcourse/live/mdydjBa) to re-calculate SVG viewbox properties & eliminate any surplus 'white space' on image.
Applied SVG file reduction tool (https://jakearchibald.github.io/svgomg/) to minimise SVG file sizes further. 
Did also applying 'prettify markup' and although means file sizes are not the minimum possible, the SVG code outputs over multiple lines which is easier to review / understand and adjust than a single line of code.



/*---MEDIA QUERIES - TO BE ADDED, USE PORTRAIT SVG FOR MOBILE AND TABLET (WHEN IN PORT MODE) AND LANDSCAPE FOR ALL OTHER SCREEN SIZES / LAYOUT)---*/


.index-card-header {
    background-image:url(../images/menu_panel_2.svg); 
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    margin-top:3vh;
    text-align:center !important;
    }



.btn-link {
    font-family:'ethnocentric_rg',  Arial, Helvetica, sans-serif;
    color: RGBA(255,129,10,0.8);
    }


#home-accordion .btn-link:hover,
#home-accordion .btn-link:focus,
#home-accordion .btn-link:active {
    text-decoration: none;
    color: RGBA(255,129,10,1);
    border-style: none; 
    outline:none;
    box-shadow:none;
    }


.UIpanel {
    background-image:url(../images/menu_panel_detail_2.svg); 
    min-width: 100%;    
    background-repeat:no-repeat;
    text-shadow:2px 2px 2px black;
    padding:7vh 6vh 5vh 3vh;
  }

/*-#collapse-mission {
    padding:6vh 6vh 4vh 3vh;
}

#collapse-trips {
    padding:8vh 1vh 4vh 1vh;
}

#collapse-mini-gallery {
    padding:4vh 1vh 2vh 1vh;
    min-height:30vh;
}

#collapse-countdown {
    padding:4vh 1vh 2vh 1vh;
}
--*/

 /*-----Home Page - Countdown Timer --------*/
 /*---- A true countdown timer requires understanidng of JS, so for the purpose of representing what this 'could' look like I created a mock version which only counts down from a static starting point, only adjusts the minutes and seconds and resets on page load and expanding the accordion card. 
 Acknowledgement: Initial challenges were encuntered regading vertica alignment & hiding overflow (of no-displayed numbers). A similar example was found on YouTube [https://www.youtube.com/watch?v=rhZgquCAcGc] which this code is based on although adapted to; fit in a table (to retain alignmet of time with labels) and splittng code to acount for hr / min count-down from 59-0, and digits from 10-0.   
  ---*/
 
#countdown-info {
   align-items:left;
   margin-bottom: 2vh;
    } 

/*-----relates to layout of text wich appears prior to the timer----*/

#countdown-info .info-label {
    text-align:right;
    }

#countdown-info .info-answer {
    text-align:left;
    padding-left:5vw;
    }

#countdown-info .passengers {
     vertical-align:text-top;
    }

 /*-----styling for the countdown timer ----*/ 

 .table-countdown {
    border: 1px solid RGBA(255,129,10,1);
    width:75vw;
}

.table-countdown-labels {
    border: 1px solid RGBA(255,129,10,1);
    color:black;
    background-color:RGBA(255,129,10,0.8);
    text-shadow:none;
}


.table-countdown-wrapper {
    background-color: black;
    transform:translate (-50%, -50%);
    font-family:'LED',  Arial, Helvetica, sans-serif;
    height:5vh;
    line-height:5vh;
    font-weight:bold;
    font-size: 4vh;
}

.table-wrapper {
    transform:translate (-50%, -50%);
    vertical-align: top;
    position:relative;
    overflow:hidden;
}   

/*----
.countdown-labels {
    display:inline-block;
    width:100%;
    vertical-align: top;
    border: 1px solid RGBA(255,129,10,1);
    
}
---*/

/*-----Original div version - replaced with table approach to address alignment issues
.countdown-wrapper {
    display:inline-block;
    overflow:hidden;
    width:100%;
    vertical-align: top;
    border: 1px solid RGBA(255,129,10,1);
    border-collapse: collapse;
    background-color: #242424;
    transform:translate (-50%, -50%);
    font-family:'LED',  Arial, Helvetica, sans-serif;
    padding:0 0;
    margin: 0 0;
    height:5vh;
    line-height:5vh;
    font-weight:bold;
    font-size: 4vh;
    padding-top:0.5vh;
    }

.wrapper {
    transform:translate (0, 0);
    vertical-align: top;
    position:relative;
}

.wrap-secs {
    display:inline-block;
}

.wrap-mins {
    display:inline-block;
}
--------*/

.time {
    display:inline-block;
    overflow:hidden;
    padding:0 0.5vh;
    }
    
.digit:after {
    position:absolute;
    white-space: pre;
    content: "9\A 8\A 7\A 6\A 5\A 4\A 3\A 2\A 1\A 0\A";
    }

.tens:after {
    position:absolute;
    white-space: pre;
    content: "5\A 4\A 3\A 2\A 1\A 0\A";
    }

/*--countdown animation works by steping through the numbers defined in the 'content' above with the step count and %'s aligned to the correct timing (i.e 1 second / min ('digit') & 10 seconds/minutes ('tens'). Numbers effectively scroll on screen but 'overflow:hidden' only allows 1 number (per field) to be shown  --*/

.seconds.digit:after {
    animation: animate-secs-digit 10s steps(10) infinite;
    }

@keyframes animate-secs-digit {
    0% {top:0;}
    100% {top:-49.5vh} /*--- ** Adjusted from -50vh as slight mis-alignment for last few seconds, to be checked in other responsive screen sizes if needed ----*/
    }

.seconds.tens:after {
    animation: animate-secs-tens 60s steps(6) infinite;
    }

@keyframes animate-secs-tens {
    0% {top:0;}
    100% {top:-30vh}
    }



.mins.digit:after {
    animation: animate-mins-digit 600s steps(10) infinite;
    }

@keyframes animate-mins-digit {
    0% {top:0;}
    100% {top:-50vh}
    }

.mins.tens:after {
    animation: animate-mins-tens 3600s steps(6) infinite;
    }

@keyframes animate-mins-tens {
    0% {top:0;}
    100% {top:-30vh}
    }






/*-------------------------Exploration PAGE-----------------*/



#main-exploration-image {
    background-image:url(); /*----image removed - switching to background color/. -------*/
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    border-top:none;
    background-attachment: fixed;
    display:inline-block;
    }

.exploration-item {
    background-color:#24242480;
    display:block;
    margin:0 auto;
    margin-top:15vh;
    padding-top:5vw;
    width:80vw;
    }


#exploration h2 {
    font-family:'ethnocentric_rg',  Arial, Helvetica, sans-serif;
    }



.exploration-quote span {
    font-style: italic;
    }


.explorations-trips p{
    padding-top:10vh;
    }


#destinations-image-one {
    margin-top:10vh;
    float:right; 
    width:60%;
    }

#destinations-image-two {
    margin-top:10vh;
    float:left; 
    width:50%;
    }

#destinations-image-three {
    margin-top:10vh;
    float:right; 
    width:40%;
    }   

.earth {
    float:left;
    }


.lunar {
    float:right;
    }


.safari {
    float:left;
    }

.txt-left {
    text-align: left;
    }


.txt-right {
    text-align: right;
    }

    /*-------------------------Gallery / Viewing Port-----------------*/

.viewingport-main {
    margin-top:10vh;
}

.gallery img {
    height:20vh;
}

/*-------------------------Registration-----------------*/

#register-container {
    background-image:url(../images/hex_black_bg_sm.png);
    position:center;
    background-repeat:no-repeat;
    width:100%;
    margin-top:10vh;
}


#register-wrapper {
    padding:1px;  /*Bug fix horizontal margin collapse between parent and child - fix sourced from https://www.smashingmagazine.com/2019/07/margins-in-css/--------*/
}

/*----- class names re-used from accordion to apply header and content background images, IDs added to specify sizing adjustments & styling-----*/

#register-header {
    margin-top:4vh;
    
    font-weight:700;
    line-height:6vh;
}

#register-intro {
    padding:4.5vh 1vh 2vh 1vh;
}

/*--- padding:8vh 1vh 4vh 1vh--*/

#register-tiers {
    font-weight:800;
    margin-top:4vh;
}



/*-------------------------404 Page-----------------*/

.A404-image {
   background-image:url(../images/a404_error.png);
   background-repeat:no-repeat;
   background-size: cover;
   background-position: center center;
   position:relative;
   background-attachment: fixed;
   height:100vh;
}

.A404-text {
    text-shadow:1px 1px 2px darkgray;
}

.A404-text.txt1{
    padding-top:7vh;
    animation-name:redirect-txt1;
    animation-delay:0.5s;
    animation-fill-mode: both;
    animation-duration:3s;
    animation-timing-function: ease;  
    }


@keyframes redirect-txt1 {
0% {visibility: hidden;}
10% {visibility: visible;}
100% {visibility: hidden;}
}


.A404-text.txt2{
    animation-name:redirect-txt2;
    animation-delay:4s;
    animation-fill-mode: both;
    animation-duration:2s;
    animation-timing-function: ease;  
    }


@keyframes redirect-txt2 {
0% {visibility: hidden;}
10% {visibility: visible;}
100% {visibility: hidden;}
}


.light {
    border-style: solid transparent;
    background-color: white;
    width:15%;
    height:15%;
    border-radius:50%;
    position:absolute;
    top:13%;
    left:25%;
    animation-name:light;
    animation-delay:6s;
    animation-fill-mode: both;
    animation-duration:0.3s;
    animation-timing-function: linear;  
    }  
    



@keyframes light {
  0% {
    transform: scale(0);
    background-color: orange;
    opacity:0;
    border-radius: 100%;
  }

  100% {
    transform: scale(15);
    opacity:1;
    background-color: white;
  }
}



    /*----

    -----*/